.nav_title {
    font-weight: 900;
    font-size: 50px;
  }
.nav_icon {
    font-size: 24px;
    padding: 4px 8px;
  }
.nav_icon_container {
    display: flex;
    list-style: none;
  }
.nav_list {
    font-size: 20px;
    margin-left: 5px;
}